<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<div>
		<section>
        	<h3>Quick Links</h3>
        		<ul>
        			<li><a href="#">About</a></li>
        			<li><a href="#">Services</a></li>
        			<li><a href="#">Work</a></li>
        			<li><a href="#">Clients</a></li>
        			<li><a href="#">Blog</a></li>
        			<li><a href="#">Contact</a></li>
        		</ul>
        	<a href="http://www.domain/news.com"></a>	  
    	</section>

    	<section>
          <img src="..." />
        	<h3>Expertise</h3>
        	<a href="http://www.domain/expertise.com"></a>	  
    	</section>

    	<section>
          <img src="..." />
        	<h3>Tools</h3>
        	<a href="http://www.domain/tools.com"></a>	  
    	</section>

    	<section>
          <img src="..." />
        	<h3>Achievements	</h3>
        	<a href="http://www.domain/achievments.com"></a>	  
    	</section>

    	<section>
          <img src="..." />
        	<h3>About Us</h3>
        	<a href="http://www.domain/about.com"></a>	  
    	</section>	
</div>


	<!-- End Component -->
	
</body>
</html>