<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<footer>
	<div>
		<nav>
        	<h3>Quick Links</h3>
        		<ul>
        			<li><a href="#">About</a></li>
        			<li><a href="#">Services</a></li>
        			<li><a href="#">Work</a></li>
        			<li><a href="#">Clients</a></li>
        			<li><a href="#">Blog</a></li>
        			<li><a href="#">Contact</a></li>
        		</ul>	  
    	</nav>

    	<section>
        	<h3>Casasoft</h3>
        	<p></p>	
        	<p></p>	  
    	</section>

    	<section>
        	<h3>Get in touch</h3>
        	<img src="smiley.gif" alt="Smiley face">
        	<p>(+356) 2166 2204</p>
        	<img src="smiley.gif" alt="Smiley face">	
        	<p>(+356) 2166 2204</p>
        	<img src="smiley.gif" alt="Smiley face">	 
        	<p>6 spencer flats,</br> Triq...</p>
        	<img src="smiley.gif" alt="Smiley face">	
        	<p><a href="#">View Location Map</a></p>	 
    	</section>

    	<section>
        	<h3>Connect With Us</h3>
        	<img src="smiley.gif" alt="Smiley face">
        	<p>(+356) 2166 2204</p>
        	<img src="smiley.gif" alt="Smiley face">	
        	<p>(+356) 2166 2204</p>
        	<img src="smiley.gif" alt="Smiley face">	 
        	<p>6 spencer flats,</br> Triq...</p>
        	<img src="smiley.gif" alt="Smiley face">	
        	<p><a href="#">View Location Map</a></p>	 
    	</section>

    	<section>
        	<h3>Keep Updated</h3>

        	<p>Rest assured we won't spam you!</p>

        	<form>
			<input type="text" name="fullname" value="full name">
			<br>
			Last name:<br>
			<input type="text" name="email" value="JoeBlow@comast.net">
			</form>  

		<button type="submit" id="registration" class="masterTooltip" input class="scale">Join</button>

    	</section>
</footer>

    	


	<!-- End Component -->
	
</body>
</html>