<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	

<section>
   <h2>What's New</h2>
   		
    	<article>
        	<h3>Heading of overlay</h3>
        		<p>Some other info info....</p>
        	<p><a href="http://www.w3schools.com">Click here for more information</a></p>
    	</article>


    	<article>
        	<h3>Heading of overlay</h3>
        		<p>Some other info info....</p>
        	<p><a href="http://www.w3schools.com">Click here for more information</a></p> 	  
    	</article>

    	<article>            	 
        	<h3>Heading of overlay</h3>
        		<p>Some other info info....</p>
        	<p><a href="http://www.w3schools.com">Click here for more information</a></p>  	  
    	</article>

         
    	<article>
        	<h3>Heading of overlay</h3>
        		<p>Some other info info....</p>
        	<p><a href="http://www.w3schools.com">Click here for more information</a></p>
    	</article>
    	
</section>


	<!-- End Component -->
	
</body>
</html>