<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<div>
		  <article>
        	<h3>News</h3>
            <h3>Heading of overlay</h3>
              <p>Some other info info....</p>
             <p><a href="http://www.domain/news.com">Click here for News</a></p>
      </article>
        	 
    	<article>
          <h3>Expertise</h3>
            <h3>Heading of overlay</h3>
              <p>Some other info info....</p>
             <p><a href="http://www.domain/expertise.com">Click here for...</a></p>
      </article>

    	<article>
          <h3>Tools</h3>
            <h3>Heading of overlay</h3>
              <p>Some other info info....</p>
             <p><a href="http://www.domain/tools.com">Click here for News</a></p>
      </article>

      <article>
          <h3>Achievments</h3>
            <h3>Heading of overlay</h3>
              <p>Some other info info....</p>
             <p><a href="http://www.domain/achievments.com">Click here for News</a></p>
      </article>

    	<article>
          <h3>About us</h3>
            <h3>Heading of overlay</h3>
              <p>Some other info info....</p>
             <p><a href="http://www.domain/about.com">Click here for News</a></p>
      </article>


</div>

	<!-- End Component -->
	
</body>
</html>