<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<div>
		<section>
          <img src="..." />
        	<h2>News</h2>
        	<a href="http://www.domain/news.com">/a>	  
    	</section>

    	<section>
          <img src="..." />
        	<h2>Expertise</h2>
        	<a href="http://www.domain/news.com">/a>	  
    	</section>

    	<section>
          <img src="..." />
        	<h2>Tools</h2>
        	<a href="http://www.domain/news.com">/a>	  
    	</section>

    	<section>
          <img src="..." />
        	<h2>Achievments	</h2>
        	<a href="http://www.domain/news.com">/a>	  
    	</section>

    	<section>
          <img src="..." />
        	<h2>About Us</h2>
        	<a href="http://www.domain/news.com">/a>	  
    	</section>	
</div>

	<!-- End Component -->
	
</body>
</html>