/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */


html, body{
	width:100%;
	height:100%;
	background-color: #ffffff;
}

nav{
	height:20%;
	width:62%;
	background:#541e00;
	margin-left: auto;
    margin-right: auto;

}

ul{
	height:20%;
	width:62%;
}


li{
	list-style-type: none;
	font-size:1.2em;
	font-family: "Times New Roman";
	text-transform: uppercase;
	text-align:center;
	padding: 1em;
	float:left;
}

a:link {
    color: #ffffff;
    text-decoration: none;
    padding: .30%;
}

#left {
padding-left: 2em;
-webkit-box-shadow: -12px 15px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -12px 15px 25px 0px rgba(0,0,0,0.75);
box-shadow: -12px 15px 25px 0px rgba(0,0,0,0.75);
}

#right{
padding-right: 2em;
-webkit-box-shadow: 12px 15px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 12px 15px 25px 0px rgba(0,0,0,0.75);
box-shadow: 12px 15px 25px 0px rgba(0,0,0,0.75);
}
/* HEADER ======================================== */