<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: James Woods</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->


	<nav>
		<ul>
			<li><a href="#">Art</a></li>
			<li><a href="#">Bottles</a></li>
			<li><a href="#">Clocks</a></li>
			<li><a href="#">Mirrors</a></li>
			<li><a href="#">Furniture</a></li>
			<li><a href="#">Jewelry</a></li>
			<li><a href="#">Glass</a></li>
		</ul>
	</nav>	

	<!-- End Component -->
	
</body>
</html>