/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

nav{
	border-radius: 10%;
	margin: auto;
}
li{
	list-style-type: none;
	font-size:1.2em;
	text-transform: uppercase;
	text-align:center;
	padding: 1em;
	float:left;
    background:#541e00;
	border-right: 
	padding: .25% 2.0%;
}

a:link {
    color: #ffffff;
    text-decoration: none;
    padding: .30%;
}

/* HEADER ======================================== */