<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

<section>
	<p>Whatever this thing is</p>
	<h2>Testimonials</h2>
	
	<article>
		<img src="kate.gif" alt="Kate Smith">
			<h3>Kate Smith</h3>
		<p>yadda yadda, yadda yadda...</p>
	</article>

	<button type="button" alt="Previous Testimony" <img src="icons/arrow.png"></button>
	<button type="button" alt="Next Testimony" <img src="icons/arrow.png"></button>
	
</section>

	<!-- End Component -->
	
</body>
</html>