<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<p><time datetime="2012-10-22 19:00">10/22/2012</time></p>
<h3>Today's Session:</h3>
<h1>Running 4K</h1>
<p><time>4:00</time>pm</p>
<p>45 Minutes</p>
<button type="button" <img src="icons/check.png">Session details</button>
<button type="button" <img src="icons/check.png">I did it</button>

	<!-- End Component -->
	
</body>
</html>