<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: James Woods</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

<header>
	<h1>csszengarden</h1>
</header>

<section>
	<p>When Walking...</p>
	<p>Lifting a dark...</p>
	<p>We must clear...</p>
	<p>The CSS Zen...</p>
</section>

<section>
	<p>She asked So what is this about</p>
</section>

<h2>The Beauty of CSS Design</h2>

<nav>
       <h3>Select a Design</h3>
        	<ul>
        		<li><a href="#">Mid Century Modern</a></li>
        		<li><a href="#">Garments</a></li>
        		<li><a href="#">Steel</a></li>
        		<li><a href="#">Apothecary</a></li>
        		<li><a href="#">Founatin Kiss</a></li>
        		<li><a href="#">A Robot Names Jimmy</a></li>
        		<li><a href="#">A Verde Moderna</a></li>
        	</ul>	  
 </nav>


<section>
  <p>A demonstration of what....</p>
</section>

	<!-- End Component -->
	
</body>
</html>