<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: James Woods</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<h1>csszengarden</h1>

<section>
	<p>When Walking...</p>
	<img src="kiss.gif" alt="kiss">
	<p>Lifting a dark...</p>
	<p>We must clear...</p>
	<p>The CSS Zen...</p>
</section>

<section>
	<p>She asked</p>
	<p>so what is</p>
	<p>This about?</p>
</section>

<h2>The Beauty of CSS Design</h2>

<section>
<h3>Select a Design</h3>
<ul>
	<li>Mid Century Modern</li>
	<li>Garments</li>
	<li>Steel</li>
	<li>Apothecary</li>
	<li>Screen Filler</li>
	<li>Founatin Kiss</li>
	<li>A Robot Names Jimmy</li>
	<li>A Verde Moderna</li>
</ul>
</section>

<section>
  <p>A demonstration of what....</p>
</section>

	<!-- End Component -->
	
</body>
</html>