<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: James Woods</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<div class="wrapper">
	<section>
		<h2>Upcoming Events</h2>

		<article>
			<h3>Lorem Ipsum</h3>
			<p><time datetime="2015-4-25 19:00">25 Apr 2015</time></p>
			<p>For this event we will be...</p>
		</article>

		<article>
			<h3>Lorem Ipsum</h3>
			<p><time datetime="2015-4-25 19:00">25 Apr 2015</time></p>
			<p>For this event we will be...</p>
		</article>

		<article>
			<h3>Lorem Ipsum</h3>
			<p><time datetime="2015-4-25 19:00">25 Apr 2015</time></p>
			<p>For this event we will be...</p>
		</article>

	</section>
</div>
	

	<!-- End Component -->
	
</body>
</html>