<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<div class="wrapper">
	<section>
		<h2>Upcoming Events</h2>

		<article>
			<p>25 Apr 2015</p>
			<p>For this event we will be...</p>
		</article>

		<article>
			<p>25 Apr 2015</p>
			<p>For this event we will be...</p>
		</article>

		<article>
			<p>25 Apr 2015</p>
			<p>For this event we will be...</p>
		</article>
		
	</section>
</div>
	

	<!-- End Component -->
	
</body>
</html>