<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<header>
	<h2>S-works</h2>
	<h1>Camber Carbon<h1/>
	<a href="http://www.domain/tools.com"></a>
	<div><img src="smiley.gif" alt="image1" </div>
	<div><img src="smiley.gif" alt="image2" </div>
	<div><img src="smiley.gif" alt="image3" </div>	
</header>
	

	<!-- End Component -->
	
</body>
</html>